.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

ul{
    list-style: none;
}
ul li h1{
    font-size: large;

}
ul li{
    font-size: medium;
    line-height: 2;
    cursor: pointer;
}

div ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.insta{
    color: red;
}
.fb{
    color: blue;
}
.twt{
    color:gray;
}
