
.orderButton{
    display: flex;
    position: absolute;
    top: 480px;
    left: 230px;
    font-size:larger;
    padding: 15px;
    border: none;
    border-radius: 7px;
}
.orderButton:hover{
    background-color:lightgreen;
    color: whitesmoke;

}




