.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.navigation-menu li{
    margin: 0px 20px;
    margin-top: 15px;
}

.navigation-menu li a{
    text-decoration: none;
    color:blue;
}
.mobile-navigation{
    list-style: none;

}
.mobile-navigation li{
    margin-top: 20px;

}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

.logoutbtn{
    padding: '5px 6px 5px';
    border-radius: 6px;
   background-color:blue;
   color:whitesmoke;
   border:  none;

}