.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    width: auto;
    margin-left: 30px;
}
.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: goldenrod;
}
.home .headerContainer p{
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: goldenrod    ;
}
.headerContainer button{
   background-color: goldenrod;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.headerContainer button:hover{
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease-in;
}


/* mobileView*/

@media only screen and (max-width:600px){
    .home{
        justify-content: center;
        align-items: center;
    }
    .headerContainer{
        margin-left: 0;
        border-radius: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619;
        color: white;
    }
    .headerContainer h1{
        font-size: 40px;
        margin-top: 20px;
        height: 30px;
        margin: 30px 0px;
        color: white    ;
    }
    .home .headerContainer p{
        font-size: 30px;
        color: white;
    }
    .headerContainer button{
        background-color: white;
        color: black;
        margin-bottom: 30px;
        position: absolute;
    }
    
}



img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}






.card {
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);

  }