
  
  @media (max-width: 768px) { 
   

     .p1,.p2{
        display: none;
     }
    }

    
  
  
  
 .price{
  text-align: center;

 }

 .title{
  text-align: center;
  font-size: 20px;
 }
 .menubtn{
  background-color: blue;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
 }
 .btncart{
  display: flex;
  justify-content: space-between;
  margin: 20PX;
 }
 .cartbtn{
  background-color: blueviolet;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  margin-right: 20px;
 }
 .price{
  text-align: center;
  
 }


 .cardhome{
  display: flex;
  justify-content: space-evenly;
 }


 .card {
  transition: transform 0.3s ease-in-out;
  margin-top: 15px; 
}

 .card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
}

.card {
  width: 18rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: 90%; 
    margin: 0 auto; 
    margin-bottom: 1rem; 
  }
}
