.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Images/MenuImage2.jpg');
    background-size: cover;
  }

  @media (min-width: 768px) {
    .form-control {
      width: 50%; 
    }
  }
  