
 body{
  background-color:papayawhip;
 }  
    
    
 .card3{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
     
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
h3{
  padding-top: 20px;
}

.btncart{
  margin-left: 40px;

}
.menubtn{
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}



.centerRating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}





.card3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card3 .card {
  transition: transform 0.3s ease-in-out;
}

.card3 .card:hover {
  transform: scale(1.05);
}

.card {
  width: 18rem;
  margin-bottom: 20px;
}


.btncart {
  margin-top: 10px;
}

.cancelbtn{
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
}
.menubtn{
  cursor: pointer;
  margin-left: 60px;
}




/* .custom-modal .modal-dialog {
  margin-top: 10%; 
  max-width: 500px; 
  width: 100%; 
}

.custom-modal .modal-dialog-centered {
  align-items: flex-start;
  min-height: calc(100% - (1.75rem * 2)); 
}

.custom-modal .modal-content {
  border-radius: 0;
} */

.modmain{
  background-color:greenyellow;
}

.modalheader{
  margin-top: 30px;
  float: center;
}

.ipone{
  padding: 10px;
  border-radius: 10px;
margin-bottom: 15px;


}
.iptwo{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  
}

.ipthree{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;


}
.ipfour{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}


.conbtn{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 20px;


}

.labelname{
  color: black;
  float: left;
}




.card {
  width: 18rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: 90%; 
    margin: 0 auto; 
    margin-bottom: 1rem; 
  }
}
